#root {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.calcu{
  border-color: gray
}
.inputs{
  display: flex;
  justify-content: center;
}
.inputs button{
  width: 60px;
  height: 40px;
  text-align: center;
}